
body {

}

.navbar-upper{
    margin-bottom: 0px;
    border:0px;
}
.navbar-lower{
    background-color: #3E3E3E;
    margin-bottom: 0px;
    border:0px;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #3E3E3E;
}

.filtering-dropdown
{
    margin-top: 20px;
    margin-bottom: 20px;
}

.video-header{
    margin-bottom: 0px;
    margin-top: 15px;
}

.video-preview
{
    position: relative; 
    top: 0; 
    left: 0;
}

div.video-preview-play
{
    position: relative; 
    left: 0; 
    top: 0;
}

div.video-preview-play a:hover > img
{
    visibility:visible;
    opacity: 0.7
}
img.video-preview-play
{
    visibility:hidden;
    position: absolute; 
    height: 10em;
    width:10em;
    left: 8em; 
    top: 5em;
}

h2.center {
    margin: auto;
    width: 70%;
}

img.center {
    margin: auto;
    width: 60%;
}
.vid-responsive
{
    display: block;
    max-width: 100%;
}

.registration,
.avatar,
.video-page
{
    margin-top: 20px;
}

.video-info
{
    height: 34em;
    background-color: lightgray;
    border-right: 10px solid dimgray;
}

.new-comment
{
    width: 100%;
    margin-bottom: 10px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.btn-play:focus,.btn-play:active
{
    outline: none !important;
}

footer {
    margin: 50px 0;
}