body 
{
    background-color: lightyellow;
    font-family: "Times New Roman" !important;
}

.star-rating .caption
{
    display: none;
}
.btn
{
    border-radius: 0px;
}
a
{
    color: #12BAA0;
}
a:hover
{
    color: #19BAA0;
}

.btn-primary {
  color: #fff;
  background-color: #F3C649;
  border-color: #F3C649;
}
.btn-primary:hover
{
    background-color: #12BAA0;
    border-color: #12BAA0;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {

  background-color: #12BAA0;
  border-color: #F3C649;
}

.video-info
{
    height: 34em;
    background-color: white;
    border-right: 10px solid #12BAA0;
}

.navbar-lower
{
    background-color: #12BAA0;
}

.navbar-username, .navbar-title
{
    color: white !important;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus
{
  color: #fff;
  background-color: #12BAA0;
}

.navbar-inverse .navbar-nav>li>a 
{
    color: white;
}