.no-js
{
    margin-top: 20px;
}

.navbar-upper
{
    margin-bottom: 0px;
    border:0px;
}

.video-info
{
    height: 34em;
    background-color: lightgray;
    border-right: 10px solid dimgray;
}

.navbar-lower
{
    background-color: #3E3E3E;
    margin-bottom: 0px;
    border:0px;
}

.navbar-username, .navbar-title
{
    color: white !important;
}


.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus
{
  color: #fff;
  background-color: #3E3E3E;
}

.nav-avatar
{
    border-radius: 20px !important;
}

.filtering-dropdown
{
    margin-bottom: 10px;
}

.hiddenElement
{
    display:none;
}

.remove-video-icon
{
    margin-top: 2em;
    width: 2em;
}

.removeComment-icon:hover,
.thumbs-icon:hover,
.remove-video-icon:hover
{
    opacity: 0.5;
}

.thumbs-icon
{
    width: 3em;
}

.removeComment-icon
{
    width: 2em;
}

.uploadButton
{
    margin-bottom: 10px;
}
.video-header{
    margin-bottom: 0px;
    margin-top: 15px;
    height: 50px;
}

.video-preview
{
    position: relative; 
    height: auto; 
    width: auto;
}
.video-date
{
    margin-top: -5px;
}
.video-date2
{
    margin-top: 20px;
}

div.video-preview-play
{
    margin-top: 5px;
    position: relative; 
}

div.video-preview-play a:hover > img
{
    visibility:visible;
    opacity: 0.7
}
img.video-preview-play
{
    visibility:hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 9em;
    width:9em;
}

h2.center {
    margin: auto;
    width: 70%;
}

img.center {
    margin: auto;
    width: 60%;
}
.vid-responsive
{
    display: block;
}

.registration,
.accountUpdate,
.avatar-big,
.avatar,
.video-page
{
    margin-top: 20px;
}
#avatar
{
    width:auto;
    height:auto;
}

.new-comment
{
    width: 100%;
    margin-bottom: 10px;
}

/*To center text in div*/
#changePassword
{
    height: 32px;
    line-height: 32px;
 }

.btn-play:focus,.btn-play:active
{
    outline: none !important;
}

.form-group.required .control-label:after 
{
  content:"*";
  color:red;
}

footer {
    margin: 50px 0;
}

@media print 
{
    a[href]:after 
    {
        content: none !important;
    }
  
   .comments {page-break-before: always;}
   
   .avatar, .avatar-big
   {
       height: 75px !important;
       width: 75px !important;
   }
  
}